<div class="span3">
  <h1><%= srv_cat.name %></h1>
  <% category_css_id = "services-section-#{srv_cat_counter}" %>
  <ul class="toggle-list unstyled" id=<%= category_css_id %> >
    <%= render partial: "service_sku", collection: srv_cat.service_skus, as: :service_sku, locals: {category_count: srv_cat_counter, category_css_id: category_css_id} %>
  </ul>
</div>
