<div class="span3">
  <h1>Installation Services</h1>
  <ul class="toggle-list unstyled" id="services-section1">
    <li class="accordion-group">
      <div class="header">
        <div class="title">Sku Item Name</div>
        <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service1a" data-parent="#services-section1">+</a>

      </div>
      <div id="service1a" class="collapse">
        <dl class="dl-horizontal">
          <dt>Cost Range:</dt>
          <dd>$000.00 - $000.00</dd>
          <dt>Time needed:</dt>
          <dd>1.25 hrs</dd>
          <dt>Next available:</dt>
          <dd>Tue 8/16 at 1:00 pm</dd>
        </dl>
        <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
      </div>
    </li>
    <li class="accordion-group">
      <div class="header">
        <div class="title">Sku Item Name</div>
        <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service2a" data-parent="#services-section1">+</a>

      </div>
      <div id="service2a" class="collapse">
        <dl class="dl-horizontal">
          <dt>Cost Range:</dt>
          <dd>$000.00 - $000.00</dd>
          <dt>Time needed:</dt>
          <dd>1.25 hrs</dd>
          <dt>Next available:</dt>
          <dd>Tue 8/16 at 1:00 pm</dd>
        </dl>
        <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
      </div>
    </li>
    <li class="accordion-group">
      <div class="header">
        <div class="title">Sku Item Name</div>
        <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service3a" data-parent="#services-section1">+</a>

      </div>
      <div id="service3a" class="collapse">
        <dl class="dl-horizontal">
          <dt>Cost Range:</dt>
          <dd>$000.00 - $000.00</dd>
          <dt>Time needed:</dt>
          <dd>1.25 hrs</dd>
          <dt>Next available:</dt>
          <dd>Tue 8/16 at 1:00 pm</dd>
        </dl>
        <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
      </div>
    </li>
    <li class="accordion-group">
      <div class="header">
        <div class="title">Sku Item Name</div>
        <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service4a" data-parent="#services-section1">+</a>

      </div>
      <div id="service4a" class="collapse">
        <dl class="dl-horizontal">
          <dt>Cost Range:</dt>
          <dd>$000.00 - $000.00</dd>
          <dt>Time needed:</dt>
          <dd>1.25 hrs</dd>
          <dt>Next available:</dt>
          <dd>Tue 8/16 at 1:00 pm</dd>
        </dl>
        <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
      </div>
    </li>
    <li class="accordion-group">
      <div class="header">
        <div class="title">Sku Item Name</div>
        <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service5a" data-parent="#services-section1">+</a>

      </div>
      <div id="service5a" class="collapse">
        <dl class="dl-horizontal">
          <dt>Cost Range:</dt>
          <dd>$000.00 - $000.00</dd>
          <dt>Time needed:</dt>
          <dd>1.25 hrs</dd>
          <dt>Next available:</dt>
          <dd>Tue 8/16 at 1:00 pm</dd>
        </dl>
        <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
      </div>
    </li>
    <li class="accordion-group">
      <div class="header">
        <div class="title">Sku Item Name</div>
        <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service6a" data-parent="#services-section1">+</a>

      </div>
      <div id="service6a" class="collapse">
        <dl class="dl-horizontal">
          <dt>Cost Range:</dt>
          <dd>$000.00 - $000.00</dd>
          <dt>Time needed:</dt>
          <dd>1.25 hrs</dd>
          <dt>Next available:</dt>
          <dd>Tue 8/16 at 1:00 pm</dd>
        </dl>
        <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
      </div>
    </li>
    <li class="accordion-group">
      <div class="header">
        <div class="title">Sku Item Name</div>
        <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service7a" data-parent="#services-section1">+</a>

      </div>
      <div id="service7a" class="collapse">
        <dl class="dl-horizontal">
          <dt>Cost Range:</dt>
          <dd>$000.00 - $000.00</dd>
          <dt>Time needed:</dt>
          <dd>1.25 hrs</dd>
          <dt>Next available:</dt>
          <dd>Tue 8/16 at 1:00 pm</dd>
        </dl>
        <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
      </div>
    </li>
  </ul>
</div>
