<div class="row services-groups">

  <% @categories.each do |cat| %>
    <div class="span3">
      <%= render partial: "category", locals: {object: cat} %>
    </div>
  <% end %>
  <div class="span3">
    <h1>Installation Services</h1>
    <ul class="toggle-list unstyled" id="services-section1">
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service1a" data-parent="#services-section1">+</a>

        </div>
        <div id="service1a" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service2a" data-parent="#services-section1">+</a>

        </div>
        <div id="service2a" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service3a" data-parent="#services-section1">+</a>

        </div>
        <div id="service3a" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service4a" data-parent="#services-section1">+</a>

        </div>
        <div id="service4a" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service5a" data-parent="#services-section1">+</a>

        </div>
        <div id="service5a" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service6a" data-parent="#services-section1">+</a>

        </div>
        <div id="service6a" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service7a" data-parent="#services-section1">+</a>

        </div>
        <div id="service7a" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="span3">
    <h1>Exterior Services</h1>
    <ul class="toggle-list unstyled" id="services-section2">
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service1b" data-parent="#services-section2">+</a>

        </div>
        <div id="service1b" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service2b" data-parent="#services-section2">+</a>

        </div>
        <div id="service2b" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service3b" data-parent="#services-section2">+</a>

        </div>
        <div id="service3b" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service4b" data-parent="#services-section2">+</a>

        </div>
        <div id="service4b" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service5b" data-parent="#services-section2">+</a>

        </div>
        <div id="service5b" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service6b" data-parent="#services-section2">+</a>

        </div>
        <div id="service6b" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service7b" data-parent="#services-section2">+</a>

        </div>
        <div id="service7b" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="span3">
    <h1>Repair &amp; Maintenance</h1>
    <ul class="toggle-list unstyled" id="services-section3">
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service1c" data-parent="#services-section3">+</a>

        </div>
        <div id="service1c" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service2c" data-parent="#services-section3">+</a>

        </div>
        <div id="service2c" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service3c" data-parent="#services-section3">+</a>

        </div>
        <div id="service3c" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service4c" data-parent="#services-section3">+</a>

        </div>
        <div id="service4c" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service5c" data-parent="#services-section3">+</a>

        </div>
        <div id="service5c" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service6c" data-parent="#services-section3">+</a>

        </div>
        <div id="service6c" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service7c" data-parent="#services-section3">+</a>

        </div>
        <div id="service7c" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="span3">
    <h1>Professional Advice</h1>
    <ul class="toggle-list unstyled" id="services-section4">
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service1d" data-parent="#services-section4">+</a>

        </div>
        <div id="service1d" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service2d" data-parent="#services-section4">+</a>

        </div>
        <div id="service2d" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service3d" data-parent="#services-section4">+</a>

        </div>
        <div id="service3d" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service4d" data-parent="#services-section4">+</a>

        </div>
        <div id="service4d" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service5d" data-parent="#services-section4">+</a>

        </div>
        <div id="service5d" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service6d" data-parent="#services-section4">+</a>

        </div>
        <div id="service6d" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
      <li class="accordion-group">
        <div class="header">
          <div class="title">Sku Item Name</div>
          <a class="btn plus-icon transparent" data-toggle="collapse" data-target="#service7d" data-parent="#services-section4">+</a>

        </div>
        <div id="service7d" class="collapse">
          <dl class="dl-horizontal">
            <dt>Cost Range:</dt>
            <dd>$000.00 - $000.00</dd>
            <dt>Time needed:</dt>
            <dd>1.25 hrs</dd>
            <dt>Next available:</dt>
            <dd>Tue 8/16 at 1:00 pm</dd>
          </dl>
          <button type="button" class="btn btn-primary" data-loading-text="Scheduling service..." data-service-id="000000000" autocomplete="off">Schedule</button>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span6 request-a-homepro">
    <div class="row">
      <div class="span6">
        <h1>Need a service not listed? Request a HomePro call:</h1>
      </div>
    </div>
    <div class="row service-request-form">
      <div class="container">
        <div class="span4">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="customerName">Customer name:</label>
              <div class="controls">
                <input type="text" id="customerName" placeholder="First and Last">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="phoneNumber">Phone number:</label>
              <div class="controls">
                <input type="text" id="phoneNumber" placeholder="(206) 555-9876">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="projectDetails">Project details:</label>
              <div class="controls">
                <textarea rows="3" id="projectDetails" placeholder="Describe what you need done..."></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="span2 submit-area">
          <p class="blue">
            A HomePro will be
            in-touch within 24
            hours to discuss the
            project and costs.
          </p>
          <button type="button" class="btn btn-primary" data-loading-text="Submitting request..." autocomplete="off">REQUEST CALL</button>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="row">
      <div class="span6">
        <h1>SeattleHomePro contractor profiles</h1>
      </div>
    </div>
    <div class="row contractors blue">
      <div class="span2 contractor">
        <img src="images/contractor.jpg" alt="contractor name here">
        <div class="reviews">
          <span class="round-badge blue-inverted two">32</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has 32 verified customer reviews.">
            <span class="visible-large-desktop">Verified customer </span>reviews
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
        <div class="score">
          <span class="round-badge blue two">32</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has a SeattleHomePro score of 99/100.">
            <span class="visible-large-desktop">SeattleHomePro </span>score/100
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
      </div>
      <div class="span2 contractor">
        <img src="images/contractor.jpg" alt="contractor name here">
        <div class="reviews">
          <span class="round-badge blue-inverted three">332</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has 32 verified customer reviews.">
            <span class="visible-large-desktop">Verified customer </span>reviews
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
        <div class="score">
          <span class="round-badge blue one">2</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has a SeattleHomePro score of 99/100.">
            <span class="visible-large-desktop">SeattleHomePro </span>score/100
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
      </div>
      <div class="span2 contractor">
        <img src="images/contractor.jpg" alt="contractor name here">
        <div class="reviews">
          <span class="round-badge blue-inverted one">2</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has 32 verified customer reviews.">
            <span class="visible-large-desktop">Verified customer </span>reviews
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
        <div class="score">
          <span class="round-badge blue two">99</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has a SeattleHomePro score of 99/100.">
            <span class="visible-large-desktop">SeattleHomePro </span>score/100
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
