<div class="row services-groups">
  <%= render partial: "category", collection: @categories, as: :srv_cat %>
</div>
<div class="row">
  <div class="span6 request-a-homepro">
    <div class="row">
      <div class="span6">
        <h1>Need a service not listed? Request a HomePro call:</h1>
      </div>
    </div>
    <div class="row service-request-form">
      <div class="container">
        <div class="span4">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="customerName">Customer name:</label>
              <div class="controls">
                <input type="text" id="customerName" placeholder="First and Last">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="phoneNumber">Phone number:</label>
              <div class="controls">
                <input type="text" id="phoneNumber" placeholder="(206) 555-9876">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="projectDetails">Project details:</label>
              <div class="controls">
                <textarea rows="3" id="projectDetails" placeholder="Describe what you need done..."></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="span2 submit-area">
          <p class="blue">
            A HomePro will be
            in-touch within 24
            hours to discuss the
            project and costs.
          </p>
          <button type="button" class="btn btn-primary" data-loading-text="Submitting request..." autocomplete="off">REQUEST CALL</button>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="row">
      <div class="span6">
        <h1>SeattleHomePro contractor profiles</h1>
      </div>
    </div>
    <div class="row contractors blue">
      <div class="span2 contractor">
        <img src="images/contractor.jpg" alt="contractor name here">
        <div class="reviews">
          <span class="round-badge blue-inverted two">32</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has 32 verified customer reviews.">
            <span class="visible-large-desktop">Verified customer </span>reviews
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
        <div class="score">
          <span class="round-badge blue two">32</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has a SeattleHomePro score of 99/100.">
            <span class="visible-large-desktop">SeattleHomePro </span>score/100
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
      </div>
      <div class="span2 contractor">
        <img src="images/contractor.jpg" alt="contractor name here">
        <div class="reviews">
          <span class="round-badge blue-inverted three">332</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has 32 verified customer reviews.">
            <span class="visible-large-desktop">Verified customer </span>reviews
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
        <div class="score">
          <span class="round-badge blue one">2</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has a SeattleHomePro score of 99/100.">
            <span class="visible-large-desktop">SeattleHomePro </span>score/100
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
      </div>
      <div class="span2 contractor">
        <img src="images/contractor.jpg" alt="contractor name here">
        <div class="reviews">
          <span class="round-badge blue-inverted one">2</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has 32 verified customer reviews.">
            <span class="visible-large-desktop">Verified customer </span>reviews
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
        <div class="score">
          <span class="round-badge blue two">99</span>
          <a class="badge-label" href="#" data-toggle="tooltip" title="XYZ Contractor has a SeattleHomePro score of 99/100.">
            <span class="visible-large-desktop">SeattleHomePro </span>score/100
            <span class="hidden-large-desktop">...</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
